* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #C0C0C0;
    height: 8vh;
    position: relative;
}

main {
    background: url('../img/background.jpg') no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-icon {
    cursor: pointer;
    display: none;
}

.hamburger-menu {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.hamburger-menu::after {
    top: 5px;
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.hamburger-menu::before {
    top: -5px;
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

@media (max-width: 800px) {
    body {
        overflow: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vh;
        height: 92vh;
        background: #C0C0C0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-icon {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

}